* {
  box-sizing: border-box;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.razdelitelnaya {
  width: 90%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.mInputs {
  margin: 0 0 0 5% !important;
}

.post-not-found {
  text-align: center;
  font-size: 40px;
}
